name: Downstream
on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:

# Needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: downstream ${{ matrix.package }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - 'ClimaAtmos.jl'
          - 'ClimaCoupler.jl'
          - 'ClimaDiagnostics.jl'
          - 'ClimaLand.jl'
          - 'ClimaTimesteppers.jl'
          - 'KinematicDriver.jl'
          - 'ClimaDiagnostics.jl'
          - 'ClimaUtilities.jl'
        version:
          - '1.10'
          - '1.11'
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: actions/checkout@v6
        with:
          repository: 'CliMA/${{ matrix.package }}'
          path: ${{ matrix.package }}

      # Some of the packages only use ClimaCore in the test suite, so dev-ing ClimaCore
      # from the package itself would cause the aqua test to fail. Instead, we install
      # TestEnv into the base environment, activate the test env for the downstream package,
      # and dev ClimaCore before running the test suite from there.
      - if: (matrix.package != 'ClimaCoupler.jl')
        run: |
          julia --color=yes -e 'using Pkg; Pkg.add("TestEnv")'
          julia --color=yes --project=${{ matrix.package }} -e 'using Pkg; Pkg.instantiate()'
          julia --color=yes --project=${{ matrix.package }} -e 'using TestEnv; TestEnv.activate();\
            using Pkg; Pkg.develop(; path = "."); include("${{ matrix.package }}/test/runtests.jl")'

      - if: matrix.package == 'ClimaCoupler.jl'
        run: |
          julia --color=yes --project=ClimaCoupler.jl/experiments/ClimaEarth -e 'using Pkg; Pkg.instantiate()'
          julia --color=yes --project=ClimaCoupler.jl/experiments/ClimaEarth -e 'using Pkg; Pkg.develop(; path = ".")'
          julia --color=yes --project=ClimaCoupler.jl/experiments/ClimaEarth ClimaCoupler.jl/experiments/ClimaEarth/test/runtests.jl
