name: JuliaFormatter

on:
  push:
    branches:
      - main
      - trying
      - staging
    tags: '*'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  format:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2.2.0

    - uses: dorny/paths-filter@v2.9.1
      id: filter
      with:
        filters: |
          julia_file_change:
            - added|modified: '**.jl'

    - uses: julia-actions/setup-julia@latest
      if: steps.filter.outputs.julia_file_change == 'true'
      with:
        version: 1.8

    - name: Apply JuliaFormatter
      if: steps.filter.outputs.julia_file_change == 'true'
      run: |
        julia --color=yes --project=.dev .dev/climaformat.jl --verbose .

    - name: Suggester
      uses: reviewdog/action-suggester@v1
      if: github.event.pull_request.draft == false
      with:
        tool_name: JuliaFormatter
        level: error
        fail_on_error: true

    - name: Check formatting diff
      if: steps.filter.outputs.julia_file_change == 'true'
      run: |
        git diff --color=always --exit-code
