name: Unit Tests

on:
  pull_request:
    paths:
      - '.github/workflows/Linux-UnitTests.yml'
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
      - 'Manifest.toml'
      - '!lib/**'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 80
    strategy:
      fail-fast: false
      matrix:
        julia-version: ['1.7', '~1.8.0-0']

    env:
      CLIMATEMACHINE_SETTINGS_FIX_RNG_SEED: "true"

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Set up Julia
      uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia-version }}

    - name: Cache artifacts
      uses: julia-actions/cache@v1

    - name: Build package
      uses: julia-actions/julia-buildpkg@v1

    - name: Run Unit Tests
      uses: julia-actions/julia-runtest@v1
      continue-on-error: ${{ matrix.version == 'nightly' }}
